.wrapper-login-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: $background-primary;
    padding: 20px;
    color: white;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    transform: scale(1.3);

    & button {
        width: 60%;
    }
}
